/*	Copyright 2013 Zachary Doll All rights reserved. Do not distribute. */
.DP_Question {
	width: 80%;
	display: inline-block;
}

#DP_NextQuestion, #DP_PreviousQuestion {
	width: 10%;
	display: inline-block;
}