/*	Copyright 2013 Zachary Doll All rights reserved. Do not distribute. */
.DiscussionPollsQuestion {
	width: 80%;
	display: inline-block;
}

#DPNextQuestion, #DPPreviousQuestion {
	width: 10%;
	display: inline-block;
}